/* MAIN LAYOUT */
.video-admin-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
  
}

/* LEFT FORM */
.video-admin-card {
  flex: 1;
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.video-admin-header h2{
  margin-bottom: 6px;
  font-size: 24px;
}

.video-admin-header p {
  color: #666;
  margin-bottom: 20px;
}
/* RIGHT PREVIEW */
.video-preview-card {
  flex: 1;
  background: #fff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

/* FORM */
.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.publish-btn {
  background: #4f6df5;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

/* TABLE */
.table-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.Video-preview-table  {
  width: 100%;
  min-width: 550px;
  border-collapse: collapse;
}

.Video-preview-table  th,
.Video-preview-table  td {
  border: 1px solid #eee;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.Video-preview-table  th {
  background: #4f6df5;
}

/* ACTION BUTTONS */
.action-buttons {
  display: flex;
  gap: 8px;
}

.btn {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.btn.edit {
  background: #facc15;
}

.btn.delete {
  background: #ef4444;
  color: white;
}

.btn.publish {
  background: #4f6df5;
  color: white;
}

/* TABLET & MOBILE */
@media (max-width: 992px) {
  .video-admin-wrapper {
    flex-direction: column;
  }

  .video-admin-card,
  .video-preview-card {
    width: 100%;
  }
}
