.successstory-layout-wrapper {
  width: 100%;
  background: #f5f7fb;
  padding: 50px 20px;
}

.successstory-layout-container {
  max-width: 1320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  gap: 40px;
}

/* Tablet */
@media (max-width: 1024px) {
  .successstory-layout-container {
    grid-template-columns: 1fr;
  }
}
